<html>
@using TaskManagement.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Task Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/d3f0830adb.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/myjs.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>

    <div class="container">
        <div class="card card-container">

            <div class="content">
                <div>
                    <section id="socialLoginForm">
                        @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                    </br>
                    </br>
                </div>
                <div class="division">
                    <div class="line l"></div>
                    <span>or</span>
                    <div class="line r" right="0"></div>
                </div>
                <br />
            </div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Email, new { @type = "email", @id = "inputEmail", @class = "form-control", @placeholder = "Email address" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Password, new { @type = "password", @id = "inputPassword", @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                <div id="remember" class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            }



        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
</html>