<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            <a class="navbar-brand" href="/">Task Manager</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a onclick="drop(null,'/Profile/ShowInbox')" class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-bell"></i></a>
                        <div id="inbox" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        </div>
                    </li>
                </ul>

                <form method="post" action="/Task/Index" class="d-inline">
                    <button class="invbtn" type="submit">Your Tasks</button>
                    @Html.Hidden("how", "List")
                </form>



                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </nav>

    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
    </div>
    <script src="https://kit.fontawesome.com/d3f0830adb.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/myjs.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-select.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
